* {
  box-sizing: border-box;
  margin: 0;
  position: relative;
}

html {
  position: relative;
  padding-bottom: 0rem;
  margin-bottom: 0rem;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

@media only screen and (max-width: 850px) and (min-width: 450px) {
  .slider-wrapper {
    border-radius: 0;
    max-width: fit-content;
  }
}

body {
  background-image: url('/images/ArcadeJPEG.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  padding-top: 250px;
  text-align: center;
}

audio {
  display: none;
}

.blinking {
  animation: blinkingText 0.9s infinite;
}
@keyframes blinkingText {
  0% {
    color: white, rgb(251, 255, 44);
  }
  100% {
    color: transparent;
  }
  100% {
    color: transparent;
  }
  100% {
    color: transparent;
  }
  100% {
    color: rgb(255, 255, 255);
  }
}

#sub-wrapper {
  position: relative;
  text-shadow: 2px 2px 8px limegreen;
  top: 20%;
  margin-left: 0;
  font-weight: bold;
  font-size: 35px;
  text-shadow: 2px 2px 8p black;
  color: white;
}

h1 {
  position: relative;
  margin-top: 150px;
  padding-left: 500px;
  font-family: 'Press Start 2P', cursive;
  font-size: 5em;
  font-weight: bold;
  color: rgb(13, 255, 0);
  text-shadow: 2px 2px 8px limegreen;
}

h2 {
  margin-bottom: 25px;
  font-size: 40px;
  top: 20%;
  margin-left: 0;
}

p {
  font-family: 'Press Start 2P', cursive;
  font-size: 0.5em;
  border: 2px solid limegreen;
  text-shadow: 2px 2px 8p limegreen;
}

/* h3 {
  margin-top: 10px;
  font-size: 30px;
} */

#start {
  position: relative;
  margin-left: 0%;
  margin-top: 0%;
  border: 2px solid limegreen;
  text-shadow: 2px 2px 8p limegreen;
  padding-top: 20px;
}

#quiz-area h2 {
  width: 100%;
}

button {
  position: relative;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  background-color: black;
  color: whitesmoke;
  text-decoration: none;
  display: inline-block;
  border-radius: 26px;
  box-shadow: 1px 1px 10px limegreen;
  text-shadow: 2px 2px 8px limegreen;
  font-size: 15px;
  line-height: 25px;
}
button#start-over {
  position: relative;
  background-color: black;
  box-shadow: 1px 1px 10px limegreen;
  text-shadow: 2px 2px 8px limegreen;
}

button:hover {
  background: limegreen;
  border: 2px solid white;
  text-shadow: 2px 2px 8px limegreen;
  font-size: 15px;
}

#counter-number {
  color: limegreen;
  font-stretch: expanded;
  text-shadow: 2px 2px 8p limegreen;
  font-size: 60px;
}

/* ---- For Mobile ---- */
@media screen and (max-width: 600px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

/* ---- For Tablets ---- */
@media only screen and (max-width: 850px) and (min-width: 450px) {
  .slider-wrapper {
    border-radius: 0;
  }
}
